@use 'font';
@use 'colors';

.coaches {
    position: relative;
    padding-bottom: 20vh;

    .coaches__list {
        transform-origin: top left;
        transition: transform 0.2s ease-in-out;

        .coaches__list__section {
            padding-top: 3.5vh;
            padding-bottom: 5vh;
            position: relative;
            min-height: 3vh;
            border-bottom: 0.5vw solid colors.$orange;
    
            .coaches__list__section__text {
                position: absolute;
                margin: 0;
                bottom: 0;
                right: 0;
                font-size: 1vw;
                font-weight: 600;
                color: colors.$orange;
                
                .coaches__list__section__text--icon {
                    font-size: 1.25vw;    
                }
            }
    
            .coaches__list__section__item {
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                padding: 0;
                border-radius: 0.5vw;
                user-select: none;
    
                .coaches__list__section__item__title {
                    margin: 0;
                    display: inline-block;
                    font-size: 0.75vw;
                    font-weight: 700;
                    text-align: center;
                }
    
                .coaches__list__section__item__img {
                    display: inline-block;
                    width: 8%;
                    margin-right: 0.5vw;
                }
    
                .coaches__list__section__item__subtitle {
                    display: inline-block;
                    font-size: 0.75vw;
                    font-weight: 400;
                    font-style: italic;
                    text-align: center;
                    margin-left: 0.5vw;
                }
            }
        }
    }
    

}


@media only screen and (max-width: 767px) {

    .coaches {
        padding-bottom: 10vh;
        padding-left: 2vw;
        padding-right: 2vw;
    
        .coaches__list {

            .coaches__list__section {
                padding-top: 4vh;
                padding-bottom: 4vh;
                min-height: 5vh;
                border-bottom: 1vw solid colors.$orange;
        
                .coaches__list__section__text {
                    font-size: 3vw;

                    .coaches__list__section__text--icon {
                        font-size: 3.5vw;    
                    }
                }
        
                .coaches__list__section__item {
                    padding: 2vw;
                    margin-bottom: 0;
                    border-radius: 2vw;

                    .coaches__list__section__item__title {
                        margin-bottom: 0;
                        font-size: 3vw;
                        font-weight: 700;
                    }
        
                    .coaches__list__section__item__img {
                        width: 6%;
                        margin-right: 2vw;
                    }
        
                    .coaches__list__section__item__subtitle {
                        margin: 0;
                        margin-left: 2vw;
                        font-size: 3vw;

                    }
                }
            }
        }
        
    
    }

}