$black: #000000;
$white: #ffffff;
$grey: #a8a8a8;
$darkGreen: #042a2b;
$blue: #5eb1bf;
$lightBlue: #cdedf6;
$orange: #ef7b45;
$lightOrange: #ecbfab;
$red: #d84727;
$brightRed: #f63e02;


//Teams

$t_grey1: #2b2b2b;
$t_grey2: #9b9b9b;
$t_green1:#006431;
$t_green2:#009132; 
$t_red: #cc2612;
$t_red2: #ff0006;
$t_red3: #a3253a;
$t_black: #000000;
$t_white: #ffffff;
$t_blue: #0451a2;
$t_blue2: #0081c3;
$t_blue3: #070064;
$t_yellow: #fdd116;